<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <body>
        <ul>
          <li>Cafe 3</li>
          <li>Crossroads</li>
          <li>Clark Kerr</li>
          <li>Foothill</li>
          <li>Golden Bear Cafe</li>
          <li>Qualcomm Cafe</li>
          <li>Brown's Cafe</li>
          <li>Terrace Cafe</li>
        </ul>
            
        