<% include partials/header %>

<div class="container">
    <div class="row">
    	<div class="col-md-8 col-md-offset-2 text-center landing-text vertical-center-col">
    		<h1>CalDine</h1>
    		<p>Text a dining common to the number below for information</p>
    		<hr class="style-one"></hr>
    		<h1 id="number">(510) 257-9844</h1>
    	</div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
<script src="/js/slider.js"></script>

<% include partials/footer %>
