body{
    color: #f7fcff;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 60px;
    opacity: 0.7;
}

li {
    margin-left: 55px;
    margin-top: 15px;
    font-family: 'Droid Serif';
    float: left;
    font-size: 18px;
    text-shadow: 1px 1px 4px black;
}

li + li {
    margin-left: 50px;
}

h1 {
    font-family: 'Droid Serif';
    font-size: 70px;
    font-weight: 700;
    text-shadow: 2px 2px 6px black;
}
#number {
    font-family: 'Droid Serif';
    font-size: 40px;
    font-weight: 700;
    text-shadow: 2px 2px 6px black;
}
p {
    font-family: 'Droid Serif';
    font-size: 20px;
    font-weight: 400;
    text-shadow: 1px 1px 4px black;
}

.style-one {
    border: 0;
    height: 1.5px;
    width: 80%;
    background-image: linear-gradient(to right, white, rgba(240, 240, 240, 0.75), white);
}

.container{
    margin-top: 13%;
}